<div *ngIf="post">
  <h2>Edit</h2>
  <form [formGroup]="editor" novalidate>
    <label>title: </label>
    <input type="text" placeholder="title" 
      [(ngModel)]="post.title" 
      formControlName="title">
    <br>
    <label>body: </label>
    <textarea placeholder="body" 
      [(ngModel)]="post.body" 
      formControlName="body"></textarea>
    <button type="button" (click)="save()" [disabled]="editor.pristine">Save</button>
    <button type="button" (click)="delete()">Delete</button>
    <button type="button">Preview</button>
    <br>
    Created Time: <span>{{post.created | date:'MM/dd/yyyy HH:mm:ss'}}</span>
    Modified Time: <span>{{post.modified | date:'MM/dd/yyyy HH:mm:ss'}}</span>
  </form>
</div>