<div *ngIf="post">
  <form [formGroup]="editor" novalidate>
    <div class="form-group">
      <div>
        <label for="title">Title: </label>
        <input type="text" placeholder="title" 
          id="title"
          [(ngModel)]="post.title" 
          class="form-control form-control-lg"
          formControlName="title">
      </div>
      <hr class="my-4">
      <div>
        <label for="body">Body: </label>
        <textarea placeholder="body" 
          id="body"
          [(ngModel)]="post.body" 
          formControlName="body"
          class="form-control" rows="7">
        </textarea>
      </div>
    </div>
    <!-- <div class="btn-group" role="group"> -->
        <button type="button" (click)="save()" class="btn btn-primary btn-lg" [disabled]="editor.pristine">Save</button>
        
        <button type="button" (click)="delete()" class="btn btn-danger btn-lg">Delete</button>
        
        <button type="button" (click)="preview()" class="btn btn-info btn-lg">Preview</button>
    <!-- </div> -->
    <br><br>
    <small id="emailHelp" class="form-text text-muted">Created Time: <span>{{post.created | date:'MM/dd/yyyy HH:mm:ss'}}</span></small>
    <small id="emailHelp" class="form-text text-muted">Modified Time: <span>{{post.modified | date:'MM/dd/yyyy HH:mm:ss'}}</span></small>
  </form>
</div>